@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
    font-size: 20pt;
    /* background-image: url('https://wallpaperaccess.com/full/773062.jpg');
    background-repeat:no-repeat;
    background-size: cover; */
    background-color: black;
}
/*Title*/
.title{
    font-size: 35pt;
    text-align: center;
    color: white; 
    font-family: 'Bangers', cursive; 
    margin: 0;
}
#intro{
    font-size: 30pt;
}

h2{
    font-size: 40pt;
    text-align: center;
    color: white; 
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
}

h2{
    font-size: 20pt;
    text-align: center;
    color: white; 
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
}



/*Navbar*/
.nav-bar{
    background-color: black;
    height: 60px;
    font-family: 'PT Sans Narrow', sans-serif;
    position: fixed;
    top: 0%;
    width: 100%;
    left: 0%;
}
.nav-bar a{
    padding: 14px 30px;
    color: white;
}

/*Slide-show*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20em;
    width: 30em;
}

.slideshow-container {
  position: relative;
  left: auto;
  right: auto;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  } 
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }


  /* @media screen and (min-width: 600px) {
    .nav-bar {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  } */
